.conteudo{
    display: flex;
    flex-direction: column;
}
.conteudo-esquerda{
    width: 100%;
    height: 100%;
}
.conteudo-esquerda-escrito-marca{
    display: none;
}
.conteudo-esquerda-escrito-alerta{
    color: #b3b3b3;
    font-size: 15px;
    margin-bottom: 50px;
}