@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    
}

body{
    font-size: 100%;
    background-color: #ffffff;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}
.conteudo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.conteudo-esquerda{
    width: 40%;
    height: 100%;
    background-color: #046B53;
}
.conteudo-esquerda-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.conteudo-esquerda-imagem{
    margin-top: 180px;
    margin-bottom: 40px;
    
}
.conteudo-esquerda-escrito-container{
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}
.conteudo-esquerda-escrito{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.conteudo-esquerda-escrito-contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 60px;
}
.conteudo-esquerda-escrito-sistema{
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
}
.conteudo-esquerda-escrito-alerta{
    color: #b3b3b3;
    font-size: 15px;
    /* margin-bottom: 180px; */
}
.conteudo-esquerda-escrito-marca{
    color: #cac8c8;
    margin-left: 30px;
    font-size: 13px;
}
.conteudo-direita{
    width: 60%;
    height: 100vh;
}
.conteudo-direita-container{
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 200px;
    /* justify-content: space-evenly; */

}
.conteudo-direita-escrito{
    display: flex;
    flex-direction: column;
}
.conteudo-direita-escrito-bv{
    color: #BCB7B7;
    font-size: 25px;
}
.conteudo-direita-escrito-login{
    margin-bottom: 40px;
    font-size: 35px;
}
.form{
    display: flex;
    flex-direction: column;
    /* gap: 20px;    */
}
.form-escrito{
    font-size: 15px;
    margin-bottom: 10px;
    
}
.form-caixa{
    width: 500px;
    height: 45px;
    background-color: #f3f6f9;
    border: thin solid #046B53 ;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.form-botao{
    cursor: pointer;
    width: 500px;
    height: 60px;
    color: #ffffff;
    border: 1px solid #0BA983;
    background-color: #0BA983;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 5px;
}
.footer-mobile{
    display: none;
}
